#Homeback_img:fixed{
    height: 600px;
    width:auto;
}
#back_img{
    background-image:url(../public/building.jpg);/* if you wanna change background image change the path of image*/
    background-repeat: no-repeat;
    height:600px;
    width: auto;
    background-size:500px auto;
    background-size:cover;
    top:0;
    position:relative;
}
#para{
    height: 300px;
    width:500px;
    /* border:1px solid black; */
    margin-left:130px;
    background-color:transparent;
    position: absolute;
    margin-top:90px;
}
#title p,span{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    color:#0A0D13;
    font-weight:bold;
    letter-spacing: 1px;
}
span{
    font-size:25px;
}
 img{
    height:100px;
    width:100px;
    align-items: center;
    padding-left: 40px;
    /* mix-blend-mode: multiply;
    filter:contrast(1); */
}
#subtitle
{
    font-size: 25px;
    font-weight: bolder;
    color:#173E62;
}
#homemaincontent p
{
    color:#173E62;
    font-weight: bold;
    font-family: inherit;
    font-size: 30px;
}
#homemaincontent em{
    font-size:20px;
}
#homebox
{
    /* border:1px solid black;
    height:500px;
    width:100%; */
    display:flex;
}
.b
{
    border:2px solid blue;
    height:250px;
    width:300px;
    margin:50px;
}
.b p{
    color:blue;
    margin-right:20px;
}
@media (max-width:800px)
{   #homebox
    {
        flex-direction: column;
    }
}
.exp span{
 font-size :100px;
}
.exp {
    font-size:21px;
}
#homeimg img{
    height:500px;
    width:600px;
    float:left;
}
#mivi
{
    float:right;
    height:500px;
    width:600px;
    margin-right:40px;
}
#mivi p
{
    font-size:22px;
    color:#173E62;
}
#mivi{margin-bottom:20px}
#footer 
{
    clear:both;
    height:400px;
    width:auto;
    border:1px solid black;
    background-color: #23638F;
    display: flex;
    
}
.foot{
height: 300px;
width:200px;
/* border:1px solid black; */
margin:50px 40px;
}
.foot1
{
height: 300px;
width:410px;
/* border:1px solid black; */
margin:50px 40px;
}
.foot h1,.foot1 h1{
    text-transform:uppercase ;
    font-size: 20px;
    padding:30px;
    padding-left:20px;
    color:white;
justify-content: center;
background-color: #173E62;
}
.foot p,h3,.foot1 h3,p{
    /* text-transform:uppercase ; */
    font-size: 15x;
    align-items: center;
    padding-left:20px;
    color:white;
justify-content: center;
}
.foot1 h4,.footimg,#footmap p
{
    padding-left:20px;
    color:white;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
#footmap p
{
    color:white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.footimg {
    height:60px;
    width:60px;
}
#footmap
{
    clear:both;
    height:500px;
    width:auto;
    background-color: #23638F;
    padding-left: 200px;
    padding:10px 200px ;
}
#footcontent {
    background-color:#173E62;
    color:white;
    font-weight: bold;
    font-size:20px;
    height: 70px;
}
#footcontent p{
    float: right;
    padding-right:20px;
}